{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">

        {% if msg is defined %} 
        <div class="alert alert-danger">

            {{msg}}

        </div> 
        {% endif %}      
    <h5>Your products likes  </h5>
   
    
    

     
        <div class="mt-4 ">
            {% if products %}
            <table class="table" id="products">
                <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">product name</th>
                            <th scope="col">get like from</th>
                            <th scope="col"><a href="/product/sortByDate/ASC"> public time</a> </th>
                           
                        </tr>
                       
                </thead>
                <tbody>
                
                {% for product in products %}
                    {% for like in product.getLikes %}
                <tr>
                   
                    <td scope="row">{{ product.id }} </td>
                    <td>{{ product.name}} </td>
                    <td><a href="/user/{{like.getUser.getId}}/products"> {{ like.getUser.getUsername}} </a></td>
                    <td>{{ product.getPublicDate|date("Y-m-d") }} </td>
                    
                    
                   
                </tr>
                    {% endfor %}
                {% endfor %}
                </tbody> 
            </table>
            {% else %}
            You dont have any product

            {% endif %}
        </div>
    
    
    
</div>
{% endblock %}
